.wrapper{
    text-align: center;
    margin: 5%;
    /* background-color: rgba(255, 255, 255, 0.7); */
    padding: 20px;
    box-sizing: border-box;
    
}

#subWrapper{
    margin-top: 3%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    box-sizing: border-box;
}

body{
    background-image: url(../images/background2.jpg);
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'Josefin Sans', sans-serif
}

header{
    font-size: 60px;
    color: aliceblue;
    font-family: 'Lobster', cursive;
}

p{
    font-size: 30px;
}

h2{
    font-size: 20px;
}

button{
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    width: 200px;
    background: transparent;
    border: none;
    display:block;
    margin: 0 auto;
}

button:focus {
    outline: 0;
}

#submit{
    margin-top: 3%;
}

#counternum{
    color: white;
    font-size: 30px;
}

.time{
    font-size: 30px;
}

button:hover{
    color: rgb(159, 120, 192);
}

.gj{
    font-size: 30px;
    /* color: white; */
}